@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: bold;
  src: local('CabinSketch Bold'), local('CabinSketch-Bold'), url('cs.ttf') format('truetype');
}

@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: normal;
  src: local('News Cycle'), local('NewsCycle'), url('nc.ttf') format('truetype');
}

@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 400;
  src: local('Lekton'), local('Lekton-Regular'), url('lekton.ttf') format('truetype');
}

#header, body {
  min-width: 600px;
  font-family: 'News Cycle', arial, serif;
}

body {
  background: #ccc;
  color: #333;
}

#header {
  position: fixed;
  top: 0;
  padding: 0;
  margin: 0;
  left: 0;
  background-color: #333;
  color: #eee;
  width: 100%;
  opacity: .9;
}

#header .img, #header .title {
  float: left;
}

#header > div {
  float: right
}

#header > .title {
  font-family: 'Cabin Sketch', arial, serif;
  font-size: 3.2em;
  padding-top: 0;
  margin-left: .2em;
  margin-top: -.1em;
  margin-bottom: -.2em;
}

#header .img {
  margin: 2px 5px 2px 2px;
  border: 3px solid #eee;
  -moz-border-radius: 3px; 
  -webkit-border-radius:  3px; 
  border-radius: 3px 3px 3px 3px; 
}

#header > .icon {
  margin: 8px 15px 5px 5px ;
}

#header > .icon img, #header > .icon a {
  border: 0px;
}

#header > .icon:hover, #header .img:hover {
  opacity: .5;
  cursor: pointer;
}

#content {
  margin-top: 64px;
}

.post .title {
  font-family: 'Cabin Sketch';
  font-size: 2em;
}

.post .date {
  font-style: italic;
  font-size: .8em;
  opacity: .8;
  margin-bottom: 1.5em; 
}

code, pre {
  font-family: 'Lekton'
}

pre code {
  -moz-border-radius: 1em; 
  -webkit-border-radius:  1em; 
  border-radius: 1em 1em 1em 1em; 
  padding: 1em;
}

pre {
  margin: 1em 2em 1em 2em;
}

#seo { display: none; }

a {
  color: #333;
  text-decoration: none;
  padding-bottom: 0;
  border-bottom:1px dotted;
}

a:hover {
  border-bottom:1px solid;
}

div.title > a {
  border: 0;
}

div.title > a:hover {
  opacity: .6;
}

#posts {
  width: 90%;
  margin: auto;
}

.post div.abstract {
  width: 90%;
  margin: auto;
}